 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a software developer from Warsaw, Poland. I have graduated from Warsaw University of Technology at the Faculty of Electronics and Information Technology. I have solid background in digital signal processing and advanced video coding.</p>

                    <p>Software was my hobby from an early age, my first code was on Amstrad in QBASIC. I'm passionate about Apple products and my favourite programming languages are: Swift, Objective-C, C and recently Python and Ruby.</p>

                    <p>Since 2009 I professionally develop iOS applications, my first commercial project was Polityka - the polish weekly magazine on iPad.</p>
                </div>
                <div class="col-lg-4">
                    <p>In 2013 I came back to Poland after year and a half in Berlin where I worked at Neofonie Mobile GmbH. During that period I was a lead developer of the Bild on iPad and an app for the Berliner Philharmoniker.</p>

                    <p>After return to Warsaw I've joined Taptera Poland, were I took part in some interesting enterprise projects for US clients.</p>

                    <p>Currently I'm working at Applause Inc., where I'm responsible for the iOS SDK product. One of my greatest interest right now is Swift programming language.</p>
    
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="assets/Aleksander-Zubala-CV.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resumè
                    </a>
                </div>
            </div>
        </div>
    </section>